atomic.rss/atomic.rss.wp7/Service References/AuthentificationService/atomic-rss-Web-Services-AuthentificationDomainService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48655/Services/atomic-rss-Web-Services-AuthentificationDomainService.svc?xsd=xsd4" namespace="DomainServices" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPersistent" type="xs:boolean" />
        <xs:element minOccurs="0" name="customData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="DomainServices" minOccurs="0" name="LoginResult" nillable="true" type="q1:QueryResultOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="DomainServices" minOccurs="0" name="LogoutResult" nillable="true" type="q2:QueryResultOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="DomainServices" minOccurs="0" name="GetUserResult" nillable="true" type="q3:QueryResultOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitChanges">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="DomainServices" minOccurs="0" name="changeSet" nillable="true" type="q4:ArrayOfChangeSetEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubmitChangesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="DomainServices" minOccurs="0" name="SubmitChangesResult" nillable="true" type="q5:ArrayOfChangeSetEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>