atomic.rss/atomic.rss.sl4/Service References/RegisterService/RegisterService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/atomic.rss.Web.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/atomic.rss.Web.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NewUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfirmPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NewUser" nillable="true" type="tns:NewUser" />
</xs:schema>