atomic.rss/atomic.rss.sl4.navigable/Service References/FeedsManager/FeedsManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FeedsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:48655/Services/FeedsManager.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:48655/Services/FeedsManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:48655/Services/FeedsManager.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFeedsManager_LoadArticles_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadArticles" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_LoadArticles_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadArticlesResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_AddChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:AddChannels" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_AddChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddChannelsResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_RemoveChannelsFromUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveChannelsFromUser" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_RemoveChannelsFromUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveChannelsFromUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_SetArticlesReadForUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetArticlesReadForUser" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_SetArticlesReadForUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetArticlesReadForUserResponse" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_GetUserChannels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserChannels" />
  </wsdl:message>
  <wsdl:message name="IFeedsManager_GetUserChannels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserChannelsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFeedsManager">
    <wsdl:operation name="LoadArticles">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedsManager/LoadArticles" message="tns:IFeedsManager_LoadArticles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedsManager/LoadArticlesResponse" message="tns:IFeedsManager_LoadArticles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedsManager/AddChannels" message="tns:IFeedsManager_AddChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedsManager/AddChannelsResponse" message="tns:IFeedsManager_AddChannels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveChannelsFromUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedsManager/RemoveChannelsFromUser" message="tns:IFeedsManager_RemoveChannelsFromUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedsManager/RemoveChannelsFromUserResponse" message="tns:IFeedsManager_RemoveChannelsFromUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetArticlesReadForUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedsManager/SetArticlesReadForUser" message="tns:IFeedsManager_SetArticlesReadForUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedsManager/SetArticlesReadForUserResponse" message="tns:IFeedsManager_SetArticlesReadForUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserChannels">
      <wsdl:input wsaw:Action="http://tempuri.org/IFeedsManager/GetUserChannels" message="tns:IFeedsManager_GetUserChannels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFeedsManager/GetUserChannelsResponse" message="tns:IFeedsManager_GetUserChannels_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFeedsManager" type="tns:IFeedsManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadArticles">
      <soap:operation soapAction="http://tempuri.org/IFeedsManager/LoadArticles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddChannels">
      <soap:operation soapAction="http://tempuri.org/IFeedsManager/AddChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveChannelsFromUser">
      <soap:operation soapAction="http://tempuri.org/IFeedsManager/RemoveChannelsFromUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetArticlesReadForUser">
      <soap:operation soapAction="http://tempuri.org/IFeedsManager/SetArticlesReadForUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserChannels">
      <soap:operation soapAction="http://tempuri.org/IFeedsManager/GetUserChannels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FeedsManager">
    <wsdl:port name="BasicHttpBinding_IFeedsManager" binding="tns:BasicHttpBinding_IFeedsManager">
      <soap:address location="http://localhost:48655/Services/FeedsManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>