atomic.rss/atomic.rss.sl4.navigable/Service References/RegisterService/RegisterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:48655/Services/RegisterService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/atomic.rss.Web.Models" />
  <xs:import schemaLocation="http://localhost:48655/Services/RegisterService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/atomic.rss.Web.Services" />
  <xs:element name="RegisterUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/atomic.rss.Web.Models" minOccurs="0" name="nUser" nillable="true" type="q1:NewUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/atomic.rss.Web.Services" minOccurs="0" name="RegisterUserResult" nillable="true" type="q2:RegisterResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>